<mat-toolbar class="header">
    <mat-toolbar-row>
        <span> <a href="/home">
          <img class="img-responsive" style = " height: -webkit-fill-available;"src="../../assets/kindezi-logo.png">
        </a></span>
        <span class="example-spacer"></span>
        <mat-chip-list>

            <mat-chip color="primary" selected="true"><a routerLink="/login">Signin</a></mat-chip>
           <mat-chip color="primary" selected="true"> <a routerLink="/signup">Signup</a></mat-chip>
          </mat-chip-list>
      </mat-toolbar-row>
  </mat-toolbar>